<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <!-- Application -->
    <application
        android:name="com.silverservers.app.App"
        android:label="@string/app_name"
        android:theme="@style/Theme.SilverServersCompanion"
        android:usesCleartextTraffic="true"
        tools:targetApi="32">
        <activity
            android:name="com.silverservers.app.BiometricsActivity"
            android:exported="false"
        >
        </activity>
        <activity
            android:name="com.silverservers.app.DashboardActivity"
            android:exported="false">
        </activity>
        <activity
            android:name="com.silverservers.app.OauthActivity"
            android:exported="false">
        </activity>
        <activity
            android:name="com.silverservers.app.PasswordActivity"
            android:exported="false">
        </activity>
        <activity
            android:name="com.silverservers.app.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Services -->
        <service
            android:name="com.silverservers.service.location.LocationService"
            android:foregroundServiceType="location"
        />
        <service
            android:name="com.silverservers.service.geofence.GeofenceService"
            android:foregroundServiceType="location"
        />
    </application>
</manifest>